.box-group{ 
    background-image: linear-gradient(to left, yellow, rgb(59, 59, 59));
    padding: 100px;
}
.box{
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    padding: 25px;
    color: white;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.gray{
    background-color: gray;
}
.blue{
    background-color: blue;
}

/* uygulama 2 */
.color{
    background-color:aquamarine;
    color: black;
    text-align: center;
    
}
.table{
    width: 70rem;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: aquamarine;
}

/* Uygulama 3 */
.text{
    width: 150px;
    border-radius: 10px;
    border: 1px solid rgb(37, 37, 37);
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-top: 15px;
    outline: none;
}
.textarea{
    width: 511px;
    height: 10rem;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10px ;
    padding-bottom: 10px;
    resize: none;
    padding-left: 15px;
    padding-top: 15px;
    outline: none;
}
button{
    background-color: rgb(45, 45, 139);
    color: white;
    text-align: center;
    border-radius: 50px;
    border: none;
    width: 125px;
    padding: 15px;
    cursor: pointer;
}
button:active{
    background-color: #ff98e0;
}

html ::-webkit-scrollbar{
    width: 10px;
}
html ::-webkit-scrollbar-track{
    border: 1px solid #9a00c0;
}
html ::-webkit-scrollbar-thumb{
    background-color: #b700ff;
}